server:
  jsp-servlet:
    init-parameters:
      development: true

spring:
  application:
    name: book
  web:
    resources:
      static-locations: classpath:/static/,classpath:/public/,classpath:/resources/
  mvc:
    view:
      prefix: /WEB-INF/views/
      suffix: .jsp
  jpa:
    hibernate:
      ddl-auto: validate
    open-in-view: false
